.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}
.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #f27a8a;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.margen-carta{
    margin: 200px 500px 400px 400px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  10px -10px 50px #000000cd,
    -10px 10px 50px #000000cd;
}
.carta{
    padding:60px;
    padding-bottom: 110px;
}

.carta h1{
    padding-bottom: 20px;
    font-size: 60px;
    font-family: "Lato", sans-serif;
}

.carta h2{
    position: relative;
    left: 20%;
    top: 15px;
    font-size: 40px ;
    font-family: "Caveat";
}

.atentamente{
    position: relative;
    left: 58%;
    top: 15px;
    font-size: 25px ;
    font-family: "Caveat";
}

.carta p{
    font-size: 35px ;
    font-family: "Caveat";
    text-align: justify;
}

.heart-shape{
    position: relative;
    width: 100px;
    height: 100px;
    top: 80px;
    left: 750px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(222, 60, 60);
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(222, 60, 60);
}
.heart-shape:before{
    bottom: 0px;
    left: -50px;
}
.heart-shape:after{
    top: -50px;
    right: 0px;
}
